<section class="flex-col w-full bg-gray-100 min-h-screen justify-center align-middle text-center items-center">
  <h1 class="py-8 bg-cBlue-100 w-full text-white text-center text-3xl fixed top-0 z-10">
    Categories
  </h1>

  <ul class="pt-24 pb-24 md:flex md:flex-wrap gap-4 md:px-10">
    <% @groups.each do |group| %>

    <%= link_to group_path(group) do %>
        <li class=" flex flex-row md:flex-col justify-around w-11/12 md:w-72 items-center bg-white
                    mx-auto my-6 max-h-70 rounded hover:scale-105 transition-all border-2 hover:border-separate">    
          <%= image_tag image_path("icons/#{group.icon}") , class: "w-2/12 py-2 max-w-xxs"%>
          <h2><%= group.name %></h2>  
          <p class="font-bold py-4">$
            <% total = 0 %>
            <% @paid_ups.each do |paid| %>
              <% if paid.group_id == group.id %>
                <% total += paid.amount %>
              <% end %>
            <% end %>
            <%= total %>
          </p>
        </li>
      <% end %>

    <% end %>
  </ul>

<%= render partial:"shared/link_button", locals:{ link_text: 'New Category', link_path: new_group_path } %>

</section>
