<section class="flex-col items-center w-full bg-gray-100 min-h-screen" data-controller="loader">
  <%= link_to "◀️ ", groups_path(current_user),
  class: "text-white top-12 left-2 text-xl z-10 fixed" %>
  
  <h1 class="py-6 bg-cBlue-100 min-w-full text-white text-center text-2xl fixed top-0 z-10">
    New Category
  </h1>
  
    <%= form_with model: [@group], html: { class: "py-20 hidden", data: { loader_target: "form" } } do |form| %>
      <div class="field pt-4 md:mx-auto md:w-10/12">
        <%= form.text_field :name, required: true,
        placeholder: "Name", "aria-label": "Name",
        class: "w-full border-gray-200 pt-4", maxlength:15 %>
        <p class="italic py-2 text-xs font-gray-200">(Max. 15 characters)</p>
      </div>      

      <div>
        <%= form.hidden_field :icon, id: false %>

          <ul class="flex flex-wrap py-5 px-5 md:py-10 md:px-32 gap-2 md:gap-3">

            <% @icons.each do |icon| %>
              <li class="p-4 hover:scale-110 transition-all w-20 md:w-40 " data-controller="category">
                <label>
                  <%= image_tag("icons/#{icon}", alt: icon, class: "iconList", id: "#{icon}", data: { action: "click->category#select", category_target: "icon" }) %>
                </label>
                  <%= radio_button :group, :icon, icon, id: "icon_#{icon}", data: { category_target: "icon" } %>
              </li>
              
            <% end %>

          </ul>
      </div>
      <%= render partial: "shared/submit_button", locals: { form: form, button_text: "Create Category" } %>
    <% end %>

    <div data-loader-target="loader">
      <%= render partial: "shared/loader_spinner", locals: { css_class: "text-5xl w-22 h-22"} %>
    </div>
  
</section>  
