<section>
  <%= link_to 'Back ◀️ ', groups_path(current_user)%>
  <div>  
    <%= form_with model: [@group] do |form| %>
      <div>
        <%= form.label :name %> 
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.hidden_field :icon, id: false %>

          <div id="icon_list">
            <% @icons.each do |icon| %>

              <label>
                <%= image_tag("icons/#{icon}", alt: icon, class: 'iconList') %>
                <%= radio_button :group, :icon, icon, id: "icon_#{icon}" %>
              </label>
            <% end %>

          </div>
            <%= form.submit 'Create Categorie' %>
      </div>
      <% end %>
  </div>
</section>  
