<section class="paidUps">
  <%= link_to 'Back ◀️ ', groups_path(current_user)%>
  <h1> transactions </h1>
  <h3><%= @group.name %><h3>
  <p><%= @sum_total %></p>

    <% @paid_ups.each do |paid|%>
      <li>   
        <h4><%= paid.name %></h4>
        <p><%= paid.amount %></p>
        <p><%= link_to 'View details', group_paid_up_path(@group, paid) %></p>
      </li>
      <% end %>
  </ul>  
  <%= link_to 'New transaction', new_group_paid_up_path(@group, current_user)%>
</section>