<section>
  </div>
  <div>
  <%= link_to 'Back ◀️ ', group_path(@group)%>
  <%= form_with model: @paid_up, url: group_paid_ups_path(@group), method: :post do |form| %>
  
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
      <%= form.label :amount %> 
      <%= form.text_field :amount, requiered: true %>
    </div>

    <%= form.hidden_field :author_id, value: current_user.id %>
    
    <h2>Categories</h2>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <%= form.check_box :group_ids, { multiple: true }, group.id, nil %>
        <%= group.name %>
      </li>
    <% end %>
  </ul>

    <div>
      <%= form.submit 'Create Transaction' %>
    </div>
  <% end %>
</section>
