<section>
  </div>
  <div>
  <%= link_to 'Back ◀️ ', group_path(@group)%>
  <%= form_with model: @paid_up, url: group_paid_ups_path(@group), method: :post do |form| %>
  
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :amount %> 
      <%= form.text_field :amount %>
    </div>

    <%= form.hidden_field :author_id, value: current_user.id %>
    
    <div>
      <%= form.label 'Select a category' %>
    <%= form.select :group_id, options_from_collection_for_select(@groups, 'id', 'name'), {} %>
    </div>

    <div>
      <%= form.submit 'Create Transaction' %>
    </div>
  <% end %>
</section>
